.wholePage{
    background-color:rgb(255, 255, 255);
}
.Header{
    background-color:rgb(134, 220, 241);
    border-radius:25px;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
}
.Header-content{
    color:rgba(177, 164, 164, 0.856);
}
